<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fci_community">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Lecture.St_MangerLectureActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".Dr_Tablayout.DoctorAddPostActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".Student_Iformation"
            android:screenOrientation="portrait"/>
        <activity android:name=".Dr_Tablayout.ManageLectureActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".St_Tablayout.St_mainactivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Dr_LecterList"
            android:screenOrientation="portrait"/>
        <activity android:name=".Dr_Lecture.Activity_Dr_Lecture_List"
            android:screenOrientation="portrait"/>
        <activity android:name=".Dr_Lecture.Dr_Absence"
            android:screenOrientation="portrait"/>
        <activity android:name=".Dr_Lecture.Dr_Assinment"
            android:screenOrientation="portrait"/>
        <activity android:name=".Dr_Tablayout.Doctor_activity"
            android:screenOrientation="portrait"/>
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Lecture.Lecture_activity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Lecture.St_Absence"
            android:screenOrientation="portrait"/>
        <activity android:name=".Lecture.St_Assignment"
            android:screenOrientation="portrait"/>
        <activity android:name=".SplashActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>